a {
    cursor: pointer;
  }
  .input-image {
    margin-top: 5px;
  }
  
  .modal-size {
    height: 80vh;
  }
  
  .clr-input-container {
    width: 50% !important;
  }
  
  .no-padding{
    padding-left: 0;
    padding-right: 0;
  }  